[data-input] {
  background: #232628;
  border-radius: 5px;
  border: none;
  color: #fff;
  font: 400 16px/24px "Segoe UI", sans-serif;
  height: 51px;
  padding: 15px 20px;
  transition: box-shadow 0.1s ease-out;
  display: block;
  width: 100%;
}

textarea[data-input] {
  min-height: 150px;
}

[data-input][disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

[data-input]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #577bf9 inset;
}

[data-input][data-dirty][data-valid] {
  color: var(--color-green);
  box-shadow: 0 0 0 2px var(--color-green) inset;
}

[data-input][data-dirty]:not([data-valid]) {
  color: var(--color-red);
  box-shadow: 0 0 0 2px var(--color-red) inset;
}
