<!DOCTYPE html>
<html lang="en">
  <head>
    <%= htmlWebpackPlugin.tags.headTags %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Тот Самый Келин</title>
    <link
      href="//db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="app"></div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
    <div style="position:absolute;left:-9999px;opacity:0;">${inject}</div>
  </body>
</html>
